html {
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0 auto;
  border: 2px solid red;
}

header {
  padding: 24px;
  border: 2px solid red;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 24px;
}

footer {
  background-color: burlywood;
  border: 2px solid red;
  margin-top: 24px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

main {
  border: 2px solid red;
  max-width: 800px;
  margin: 0 auto;
}

input {
  border: 2px solid red;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
}

textarea {
  border: 2px solid red;
  border: 1px solid darkgray;
  border-radius: 4px;
  padding: 12px;
  height: 100px;
}

button {
  border: 2px solid red;
  padding: 12px;
  font-size: 110%;
}

.book-review-form {
  border: 2px solid red;
  background-color: white;
  padding: 24px;
}

.main-page-book-review {
  background-color: white;
  border: 2px solid red;
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
}

.book-cover {
  border: 2px solid red;
  width: 200px;
  height: auto;
  padding: 20px;
  display: grid;
  grid-row-start: auto;
  grid-row-end: span 5;
}

.book-title {
  border: 2px solid red;
  font-weight: bold;
  font-size: 150%;
  display: grid;
}

.book-rating {
  border: 2px solid red;
  font-size: 125%;
}

.book-authors {
  border: 2px solid red;
  color: dimgray;
}
